# Listas

<span style="color: red;"><b>Todos os exercícios são feitos partindo-se do pressuposto de que todas as entradas são dadas de forma correta. Casos limite não mencionados no enunciado não são abordados porque não fazem parte do exercício!</b></span>

#### 1. Faça um Programa que leia as vendas dos vendedores, mostre a venda de cada vendedor com o seu nome e a média de vendas.

In [7]:
vendas = [1000, 1500, 1200, 1300]
vendedores = ["Fulano", "Beltrano", "Ciclano", "Lira"]

soma = sum(vendas)
numero_vend = len(vendedores)
media_vendas = soma / numero_vend

for i, venda in enumerate(vendas):
    print(f"O vendedor {vendedores[i]} vendeu {vendas[i]}")
print(f"A média de vendas foi de {media_vendas} unidades")

O vendedor Fulano vendeu 1000
O vendedor Beltrano vendeu 1500
O vendedor Ciclano vendeu 1200
O vendedor Lira vendeu 1300
A média de vendas foi de 1250.0 unidades

In [8]:
for i in range(len(vendedores)):
    print(f"O vendedor {vendedores[i]} vendeu {vendas[i]}")
print(f"A média de vendas foi de {media_vendas} unidades")

O vendedor Fulano vendeu 1000
O vendedor Beltrano vendeu 1500
O vendedor Ciclano vendeu 1200
O vendedor Lira vendeu 1300
A média de vendas foi de 1250.0 unidades

#### 2. Faça um Programa que crie uma lista com as médias de cada aluno, imprima as médias de cada aluno e a quantidade de alunos com média maior que 7.

In [17]:
alunos = ["José", "Joana", "Maria", "Carla", "Mauricio", "Andre", "Tiago", "Enzo", "Amanda", "Alessandra"]
notas = [
    [10, 9, 8, 8],
    [9, 7, 6, 4],
    [10, 10, 10, 10],
    [5, 3, 10, 9],
    [7, 6, 6, 6],
    [7, 7, 8, 7],
    [7, 7, 7, 9],
    [8, 5, 6, 7],
    [10, 9, 7, 4],
    [10, 1, 3, 3],
]
nota_media = []
cont_nota_media = 0
for i, aluno in enumerate(alunos):
    media = sum(notas[i]) / len(notas[i])
    print(aluno, media)
    nota_media.append(media)
    if media > 7:
        cont_nota_media += 1

print(f"Tivemos {cont_nota_media} alunos com média acima de 7")

José 8.75
Joana 6.5
Maria 10.0
Carla 6.75
Mauricio 6.25
Andre 7.25
Tiago 7.5
Enzo 6.5
Amanda 7.5
Alessandra 4.25
Tivemos 5 alunos com média acima de 7

#### 3. Foram anotadas as idades e salários de 30 funcionários. Faça um programa que determine quantos funcionários com mais de 25 anos possuem salário inferior à média de todos os salários.

In [32]:
idades = [35,32,50,33,48,50,33,48,22,49,35,38,20,47,49,48,34,21,48,44,48,30,25,42,42,23,25,23,38,35]
salarios = [3739,2219,3554,3978,4014,3270,4792,3879,2981,2384,4826,2460,3680,4318,1872,1770,4640,3929,3295,1729,3965,4267,4007,1916,2987,2943,3852,4543,2055,1730]

media_salario = sum(salarios) / len(salarios)
print(media_salario)

for i, idade in enumerate(idades):
    if idade <= 25:
        continue
    else:
        if salarios[i] > media_salario:
            continue
        else:
            print(f"Posição{i}: Idade: {idades[i]} - Salário: {salarios[i]}")

3319.8
Posição1: Idade: 32 - Salário: 2219
Posição5: Idade: 50 - Salário: 3270
Posição9: Idade: 49 - Salário: 2384
Posição11: Idade: 38 - Salário: 2460
Posição14: Idade: 49 - Salário: 1872
Posição15: Idade: 48 - Salário: 1770
Posição18: Idade: 48 - Salário: 3295
Posição19: Idade: 44 - Salário: 1729
Posição23: Idade: 42 - Salário: 1916
Posição24: Idade: 42 - Salário: 2987
Posição28: Idade: 38 - Salário: 2055
Posição29: Idade: 35 - Salário: 1730

In [34]:
for i, idade in enumerate(idades):
    if idade > 25 and salarios[i] < media_salario:
        print(f"Posição{i}: Idade: {idades[i]} - Salário: {salarios[i]}")

Posição1: Idade: 32 - Salário: 2219
Posição5: Idade: 50 - Salário: 3270
Posição9: Idade: 49 - Salário: 2384
Posição11: Idade: 38 - Salário: 2460
Posição14: Idade: 49 - Salário: 1872
Posição15: Idade: 48 - Salário: 1770
Posição18: Idade: 48 - Salário: 3295
Posição19: Idade: 44 - Salário: 1729
Posição23: Idade: 42 - Salário: 1916
Posição24: Idade: 42 - Salário: 2987
Posição28: Idade: 38 - Salário: 2055
Posição29: Idade: 35 - Salário: 1730

#### 4.Em quais meses a média de temperatura foi maior do que a média nacional?

In [39]:
meses = [
    'Janeiro',
    'Fevereiro',
    'Março',
    'Abril',
    'Maio',
    'Junho',
    'Julho',
    'Agosto',
    'Setembro',
    'Outubro',
    'Novembro',
    'Dezembro'
]

temperaturas = [30, 29, 28, 28, 25, 26, 20, 21, 19, 25, 27, 32]

media_temp = sum(temperaturas) / len(temperaturas)
print(f"A média anual foi de {media_temp:.1f}º")

for i, mes in enumerate(meses):
    if temperaturas[i] > media_temp:
        print(f"No mês de {meses[i]} a temperatura foi de {temperaturas[i]}, {temperaturas[i] - media_temp:.1f}º a mais que a média anual")

A média anual foi de 25.8º
No mês de Janeiro a temperatura foi de 30, 4.2º a mais que a média anual
No mês de Fevereiro a temperatura foi de 29, 3.2º a mais que a média anual
No mês de Março a temperatura foi de 28, 2.2º a mais que a média anual
No mês de Abril a temperatura foi de 28, 2.2º a mais que a média anual
No mês de Junho a temperatura foi de 26, 0.2º a mais que a média anual
No mês de Novembro a temperatura foi de 27, 1.2º a mais que a média anual
No mês de Dezembro a temperatura foi de 32, 6.2º a mais que a média anual

#### 5. As Organizações Tabajara resolveram dar um abono aos seus colaboradores em reconhecimento ao bom resultado alcançado durante o ano que passou. Para isto contratou você para desenvolver a aplicação que servirá como uma projeção de quanto será gasto com o pagamento deste abono.
<pre>Após reuniões envolvendo a diretoria executiva, a diretoria financeira e os representantes do sindicato laboral, chegou-se a seguinte forma de cálculo:
. Cada funcionário receberá o equivalente a 20% do seu salário bruto de dezembro;
. O piso do abono será de 100 reais, isto é, aqueles funcionários cujo salário for muito baixo, recebem este valor mínimo; 

Neste momento, não se deve ter nenhuma preocupação com colaboradores com tempo menor de casa, descontos, impostos ou outras particularidades. O programa deverá calcular o valor do abono concedido a cada colaborador, de acordo com a regra definida acima. Ao final, o programa deverá apresentar:</pre>
<pre>
O salário de cada funcionário, juntamente com o valor do abono;
O número total de funcionário processados;
O valor total a ser gasto com o pagamento do abono;
O número de funcionário que receberá o valor mínimo de 100 reais;
O maior valor pago como abono; A tela abaixo é um exemplo de execução do programa, apenas para fins ilustrativos.
<pre>
Projeção de Gastos com Abono
============================ 
 
Salário: 1000
Salário: 300
Salário: 500
Salário: 100
Salário: 4500
Salário: 0
 
Salário    - Abono     
R$ 1000.00 - R$  200.00
R$  300.00 - R$  100.00
R$  500.00 - R$  100.00
R$  100.00 - R$  100.00
R$ 4500.00 - R$  900.00
 
Foram processados 5 colaboradores
Total gasto com abonos: R$ 1400.00
Valor mínimo pago a 3 colaboradores
Maior valor de abono pago: R$ 900.00

In [ ]:
lista_salarios = [1000, 300, 500, 200, 1500, 3000, 3400, 5000, 7000, 2000, 600, 800, 250, 1500, 20000]
abonos = 0
cont_funcionarios = 0
cont_func_100 = 0
tab_abono = []

# Cada funcionário receberá o equivalente a 20% do seu salário bruto de dezembro
# O piso minimo do abono é de 100 reais (para salários baixos)
for salario in lista_salarios:
    if salario * 0.2 < 100:
        abono = 100
        cont_func_100 += 1
    else:
        abono = salario * 0.2
    abonos += abono
    tab_abono.append(abono)
    print(f"Salário: R${salario:.2f} - Abono: R${abono:.2f}")
    cont_funcionarios += 1
maior_abono = max(tab_abono)
print(f"Foram processados {cont_funcionarios} funcionários")
print(f"Foi pago o total de R${abonos:.2f} em abonos")
print(f"{cont_func_100} funcionários recebrão o abono mínimo de R$100,00")
print(f"O maior valor de abono a ser pago é de R${maior_abono:.2f}")


# O maior valor pago como abono

Salário: R$1000.00 - Abono: R$200.00
Salário: R$300.00 - Abono: R$100.00
Salário: R$500.00 - Abono: R$100.00
Salário: R$200.00 - Abono: R$100.00
Salário: R$1500.00 - Abono: R$300.00
Salário: R$3000.00 - Abono: R$600.00
Salário: R$3400.00 - Abono: R$680.00
Salário: R$5000.00 - Abono: R$1000.00
Salário: R$7000.00 - Abono: R$1400.00
Salário: R$2000.00 - Abono: R$400.00
Salário: R$600.00 - Abono: R$120.00
Salário: R$800.00 - Abono: R$160.00
Salário: R$250.00 - Abono: R$100.00
Salário: R$1500.00 - Abono: R$300.00
Salário: R$20000.00 - Abono: R$4000.00
Foram processados 15 funcionários
Foi pago o total de R$9560.00 em abonos
3 funcionários recebrão o abono mínimo de R$100,00
O maior valor de abono a ser pago é de R$4000.00

#### 6. Faça um programa que carregue uma lista com os modelos de cinco carros (exemplo de modelos: FUSCA, GOL, VECTRA etc). Carregue uma outra lista com o consumo desses carros, isto é, quantos quilômetros cada um desses carros faz com um litro de combustível. Calcule e mostre:
<pre>
a. O modelo do carro mais econômico;
b. Quantos litros de combustível cada um dos carros cadastrados consome para percorrer uma distância de 1000 quilômetros e quanto isto custará, considerando um que a gasolina custe R$ 2,25 o litro. Abaixo segue uma tela de exemplo. O disposição das informações deve ser o mais próxima possível ao exemplo. Os dados são fictícios e podem mudar a cada execução do programa.</pre>
```
Comparativo de Consumo de Combustível

Veículo 1
Nome: fusca
Km por litro: 7
Veículo 2
Nome: gol
Km por litro: 10
Veículo 3
Nome: uno
Km por litro: 12.5
Veículo 4
Nome: Vectra
Km por litro: 9
Veículo 5
Nome: Peugeout
Km por litro: 14.5

Relatório Final
 1 - fusca           -    7.0 -  142.9 litros - R$ 321.43
 2 - gol             -   10.0 -  100.0 litros - R$ 225.00
 3 - uno             -   12.5 -   80.0 litros - R$ 180.00
 4 - vectra          -    9.0 -  111.1 litros - R$ 250.00
 5 - peugeout        -   14.5 -   69.0 litros - R$ 155.17
O menor consumo é do peugeout.
```

In [ ]:

tab_veiculos = []
tab_kml = []

for i in range(2):
    veiculo = input("Qual o modelo do veículo (fusca, gol, uno, vectra, peugeot)? ")
    if veiculo in tab_veiculos:
        print("Modelo já cadastrado. Tente outro modelo")
    else:
        if veiculo== "fusca" or veiculo == "gol" or veiculo == "uno" or veiculo == "vectra" or veiculo == "peugeot":
            tab_veiculos.append(veiculo)
            km_litro = int(input(f"Quantos quilômetros por litro o veículo {veiculo} faz: "))
            tab_kml.append(km_litro)
            print(f"O veiculo {veiculo} que faz {km_litro}km/l consome {1000 / km_litro:.2f} litros ao custo total de R${2.25 * 1000 / km_litro:.2f}")                
        else:
            print("Os modelos a serem selecionados são: fusca, gol, uno, vectra, peugeot")

print(tab_veiculos)
print(tab_kml)

# Carro mais econômico
cont_kml = 0
for i, kml in enumerate(tab_kml):
    if kml > cont_kml:
        cont_kml = kml
        veiculo_eco = tab_veiculos[i]
    else:
        continue
print(f"O veículo mais econômico é o {veiculo_eco}")

O veiculo gol que faz 16km/l consome 62.50 litros ao custo total de R$140.62
O veiculo uno que faz 14km/l consome 71.43 litros ao custo total de R$160.71
['gol', 'uno']
[16, 14]
O veículo mais econômico é o gol

#### 7. Uma empresa paga seus vendedores com base em comissões. O vendedor recebe \\$200 por semana mais 9 por cento de suas vendas brutas daquela semana. Por exemplo, um vendedor que teve vendas brutas de \\$3000 em uma semana recebe \\$200 mais 9 por cento de \\$3000, ou seja, um total de \\$470. Escreva um programa (usando um array de contadores) que determine quantos vendedores receberam salários nos seguintes intervalos de valores:
<pre>
$200 - $299
$300 - $399
$400 - $499
$500 - $599
$600 - $699
$700 - $799
$800 - $899
$900 - $999
$1000 em diante
</pre>

Existem várias formas de fazer. Faça primeiro da forma que parecer mais intuitiva para você.

Em seguida, caso queira um desafio:
Desafio: Crie uma forma para chegar na posição da lista a partir do salário, sem fazer vários ifs aninhados.

In [4]:
vendas = [1000, 2000, 3000, 4000, 5000, 6000, 5500, 4500, 3600]
# Comissão = 200/semana + 9% das vendas/semana
comissoes = []
faixa_comissoes = []
qtd_vend_com = []
int_comissoes = [200, 300, 400, 500, 600, 700, 800, 900]

for venda in vendas:
    comissao = 200 + 0.09 * venda
    comissoes.append(comissao)
    faixa = int(comissao / 100)
    faixa_comissoes.append(faixa)
for i in range(len(int_comissoes) - 1):
    print(i)
    print(len(int_comissoes))
    contador = 0
    if faixa_comissoes == i:
        contador += 1
        qtd_vend_com.append(contador)
        



print(comissoes)
print(faixa_comissoes)
print(qtd_vend_com)

# Qtde de vendedores receberam comissao nos intervalos da tabela

0
8
1
8
2
8
3
8
4
8
5
8
6
8
[290.0, 380.0, 470.0, 560.0, 650.0, 740.0, 695.0, 605.0, 524.0]
[2, 3, 4, 5, 6, 7, 6, 6, 5]
[]